body {
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
}

.centre {
  margin: 0 auto;
  max-width: 33.25em;
  min-width: 9.75em;
}

.money {
  margin-top: 10px;
  font-size: 2em;
}

.money .label {
  font-weight: bold;
}

.edge {
  user-select: none;
  font-size: 10em;
  text-align: center;
  border: #EEE solid 2px;
}

.edge:hover {
  cursor: pointer;
  background-color: #EEE;
}

.betting-row {
  margin-top: 10px;
  font-size: 2em;
}

.betting-row .amount {
  width: 25%;
  font-size: 1em;
  border: #EEE solid 2px;
}

.betting-row input[type="radio"] {
  display: none;
}

.betting-row a {
  cursor: pointer;
}

.betting-row label {
  cursor: pointer;
}

.betting-row span.selected label {
  color: green;
}

.multi-bet {
  margin-top: 10px;
  font-size: 2em;
}

.multi-bet .text {
  font-weight: bold;
}

.multi-bet .number {
  cursor: pointer;
  user-select: none;
}

.multi-bet .selected-number {
  color: green;
}

.reset {
  cursor: pointer;
  user-select: none;
  color: red;
}
